.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}

.App {
	margin: auto;
	width: 60%;
	min-width: 600px;
	position: relative;
	box-shadow: 0px 5px 10px 1px black;
}

.wrapper {
	position: relative;
}

