div.context-menu {
	background-color: #393e46;
	width: 175px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

div.context-menu > ul {
	list-style-type: none;
	padding: 0%;
	margin: 0 auto;
	float: left;
	width: 100%;
}

div.context-menu > ul > li {
	padding: 5%;
	font-size: 13pt;
	color: #eeeeee;

	border-bottom: 1px solid #393e46;
}

div.context-menu > ul > li:last-child {
	border-bottom: none;

}

div.context-menu > ul > li:hover {
	background-color: #222831;
}