.Back {
	min-width: 200px;
	float: left;
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
}

.Back:hover {
	cursor: pointer;
	background: #222831;
}

.Back > img.back-image{
	visibility: hidden;
	opacity: 20%;
}

.Back:hover > img.back-image{
	visibility: visible;
}